@charset "UTF-8";
@media all and (min-width: 1200px) {
  h1 {
    font-size: 40px; } }

.border-radious, .btns {
  border-radius: 50%; }

.boxmargin {
  margin-left: auto;
  margin-right: auto; }

.box01margin {
  margin-left: auto;
  margin-right: auto; }

.box02margin {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: #bfffa6; }

.btn {
  width: 120px;
  height: 40px;
  background-color: #d3d3d3; }

.btns {
  color: #1553ff;
  background-color: #f20;
  border-color: green;
  font-size: 14px; }

.opr {
  width: 20px;
  width: 5px;
  width: 50px;
  width: 2px; }

.push-left-1 {
  margin-left: 1px; }

.push-left-2 {
  margin-left: 2px; }

.push-left-3 {
  margin-left: 3px; }

.push-left-4 {
  margin-left: 4px; }

.push-left-5 {
  margin-left: 5px; }

.push-left-6 {
  margin-left: 6px; }

.push-left-7 {
  margin-left: 7px; }

.push-left-8 {
  margin-left: 8px; }

.push-left-9 {
  margin-left: 9px; }

.push-left-10 {
  margin-left: 10px; }

.header a {
  /* 已連結過 */
  /* 滑鼠移至連結 */
  /* 選擇的連結 */ }
  .header a:link {
    color: #333; }
  .header a:visited {
    color: #999; }
  .header a:hover {
    color: #1553ff; }
  .header a:active {
    color: #666; }

.btn-model {
  width: 180px;
  height: 40px;
  background-color: #d3d3d3; }

header {
  background-color: #00f; }
  header .menu {
    background-color: #aaa; }
    header .menu ul li {
      padding-left: 50px;
      font-size: 50px;
      float: left; }

h1 {
  font-size: 50px;
  color: red;
  background-color: #00f; }
  h1 span {
    color: #0f0; }

.clearfix {
  clear: both; }

.btn {
  border-radius: 20px; }

.btn {
  width: 100px;
  color: #1553ff;
  background-color: #f20;
  border-color: green;
  text-align: center;
  padding: 10px; }
  .btn:hover {
    color: #333;
    background-color: #08f5ba;
    transition: all 0.15s ease-in-out;
    cursor: pointer; }

.col-0 {
  width: 0; }

.col-1 {
  width: 1; }

.col-2 {
  width: 2; }

.col-3 {
  width: 3; }

.col-4 {
  width: 4; }

.col-5 {
  width: 5; }

.col-6 {
  width: 6; }

.col-7 {
  width: 7; }

.alert-btn {
  color: red;
  background-color: yellow; }

.submit-btn {
  color: #fff;
  background-color: green; }

.back-btn {
  color: blue;
  background-color: #00e070; }

.clears-btn {
  color: #848d84;
  background-color: #ffcc25; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 46px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 26px; }

h5 {
  font-size: 14px; }

.col-md-1 {
  width: 6.25%; }

.col-md-2 {
  width: 12.5%; }

.col-md-3 {
  width: 18.75%; }

.col-md-4 {
  width: 25%; }

.col-md-5 {
  width: 31.25%; }

.col-md-6 {
  width: 37.5%; }

.col-md-7 {
  width: 43.75%; }

.col-md-8 {
  width: 50%; }

.col-md-9 {
  width: 56.25%; }

.col-md-10 {
  width: 62.5%; }

.col-md-11 {
  width: 68.75%; }

.col-md-12 {
  width: 75%; }

.col-md-13 {
  width: 81.25%; }

.col-md-14 {
  width: 87.5%; }

.col-md-15 {
  width: 93.75%; }

.col-md-16 {
  width: 100%; }

h2 {
  padding-top: 10px; }

.main {
  background-color: #ff5858;
  padding-top: 20px;
  margin: 20px; }
